* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
:root {
  --color-rose: #931A85;
  --color-violet: #562287;
  --color-jaune: #FBD34E;
  --color-noir: #463C4E;
  --color-blanc: #fff;
}